<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- 
    <link rel="stylesheet" type="text/syle" href="{{ url_for('static', filename='style.css')}}">
    -->
    <style>
        body {
            background-image: rgb(155, 247, 201);
            background-image: linear-gradient(180deg, rgba(155, 247, 201, 1) 0%, rgba(209, 255, 190, 1) 50%, rgba(242, 255, 230, 1) 94%);
            font-family: Arial, Helvetica, sans-serif;
            background-size: cover;
            background-repeat: no-repeat;
        }

        h1 {
            text-shadow: rgb(0, 80, 27);
            font-size: 50px;
            text-align: center;
        }

        h3 {
            font-size: 30px;
            margin-bottom: 7px;
        }

        #menutitle {
            text-align: center;
        }

        .container {
            margin-left: 70px;
            width: 55%;
            background-color: rgb(145, 145, 145);
            border-radius: 30px;
            border: solid 3px;
            left: 70px;
        }

        .bar {
            text-align: right;
            padding-top: 15px;
            padding-bottom: 15px;
            color: black;
            border-radius: 30px;
            font-size: 20px;
            text-shadow: ivory;
            font-weight: bold;
        }

        .temp {
            width: 0%;
            background-color: #4CAF50;

        }

        .hum {
            width: 0%;
            background-color: #2196F3;
        }

        .box-set {
            background: #c2c2c2;
            border-radius: 30px;
            width: 300px;
            height: 500px;
            margin-top: 1px;
            margin-left: 1px;
            margin-right: 1px;
            margin-bottom: 1px;
            position: absolute;

            top: 70px;
            z-index: 1;
        }

        #menubox {
            left: 70px;
            top: 320px;
            width: 600px;
            height: 300px;
        }

        #control {
            right: 70px;
            top: 140px;
        }

        p {
            margin-bottom: 2px;
            left: 70px;
            margin-left: 70px;
            font-weight: bold;
        }

        #btnEmergency {
            font-size: 20px;
            margin-top: 40px;
            border-radius: 40px;
            background-color: firebrick;
        }

        #btnStart {
            background-color: rgb(37, 114, 54);

        }

        .hline {
            margin-top: 0px;
            width: 100%;
            height: 1px;
            background: rgb(0, 0, 0);
            z-index: 2;
            text-align: center;
        }

        button {
            background-color: rgb(163, 163, 163);
            border: none;
            color: black;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 25px;
            border-radius: 15px;
            margin-top: 30px;
            border-style: dotted;
            border-color: #222;
        }

        #time {
            font-size: 30px;
            margin-top: 5px;
            margin-bottom: 5px;
        }

        button:hover {

            transform: scale(1.05);
            transition: ease-in .1s;
            transition: ease-out .1s;
        }
    </style>
</head>

<body onload="changeColor()">

    <h1>GreenHouse</h1>

    <p>Temprature</p>
    <div class="container">
        <div class="bar temp" id="tempbar">0°C</div>
    </div>

    <p>Humidity</p>
    <div class="container">
        <div class="bar hum" id="humbar">0%</div>
    </div>

    <div class="box-set" id="control">
        <table id="start" style="width:100%">
            <tr>
                <th>
                    <h3>TIME</h3>
                    <div class="h_line">--------------------------------------</div>
                </th>
            </tr>
            <tr>
                <th>
                    <h6 id="time">yyyy/mm/dd</br>00:00:00</h6>
                </th>
            </tr>
            <tr>
                <th><button type="button" id="btnStart" onclick="changeColor();">Start</th>
            </tr>
            <tr>
                <th><button type="button" id="btnEmergency">EMERGENCY<br />STOP</th>
            </tr>
        </table>
    </div>

    <div class="box-set" id="menubox">
        <table id="Menu" style="width:100%">
            <h3 id="menutitle">MENU</h3>
            <tr>
                <th><button type="button" id="btnSet" onclick="sprinklers();">Sprinklers</th>
                <th><button type="button" id="btnHelp">Help</th>
            </tr>
            <tr>
                <th><button type="button" id="btnHelp">Save</th>
                <th><button type="button" id="btnOFF" onclick="stopNow()">Turn Off</th>
            </tr>
        </table>
    </div>


    <script>
        var prevstateh = 0;
        var prevstatet = 0;
        var ntervalID;
        var humi;
        var temp;
        function changeColor() {
            ntervalID = setInterval(serialP, 500)
        }
        function serialP() {
            var now = new Date();
            var xhr = new XMLHttpRequest();
            xhr.open('GET', 'http://localhost:5000/get_ser');

            xhr.onload = function () {
                //Getting Variables

                //Assign the temp value 
                document.getElementById("tempbar").innerHTML = JSON.parse(this.response).t + '°C';
                var temp = String(((parseFloat(JSON.parse(this.response).t)) * 100) / 35) + "%"
                slidein(temp, prevstatet, 'tempbar', 500);
                colormp(((parseFloat(JSON.parse(this.response).t)) * 100) / 35, "tempbar");

                //Assign the humidity value 
                document.getElementById("humbar").innerText = JSON.parse(this.response).h + '%'
                var humi = String(parseFloat(JSON.parse(this.response).h)) + "%"
                slidein(humi, prevstateh, 'humbar', 200);


                console.log(JSON.parse(this.response).h + '%')
                console.log(JSON.parse(this.response).t + 'C')
                colormp((parseFloat(JSON.parse(this.response).h)), "humbar");
                prevstateh = humi;
                prevstatet = temp;

            };
            xhr.onerror = function () {
            }
            xhr.send();
            document.getElementById("time").innerText = now.getUTCFullYear() + "/" + (now.getUTCMonth() - 1) + "/" + now.getUTCDate() + " \n " + (now.getUTCHours() + 7) + ":" + now.getUTCMinutes() + ":" + now.getUTCSeconds()
        }

        function sprinklers() {
            var xhr = new XMLHttpRequest();
            xhr.open('POST', 'http://localhost:5000/set_ser', true);
            xhr.setRequestHeader("Content-Type", "application/json");

            xhr.onload = function () {
                console.log(parseInt(JSON.parse(this.response).s));
                if (parseInt(JSON.parse(this.response).s) == 1) {
                    document.getElementById("btnSet").style.backgroundColor = "Teal";
                } else { document.getElementById("btnSet").style.backgroundColor = "rgb(163, 163, 163)"; }

            }
            xhr.onerror = function () {
                // We have encounter a problem.
            }
            var data = JSON.stringify({ "sprink": "1" });
            xhr.send(data);
        }
        function stopNow() {
            clearInterval(ntervalID);

            document.getElementById("btnSet").style.backgroundColor = "rgb(163, 163, 163)";
            document.getElementById("time").innerText = "yyyy/mm/dd" + " \n " + "00:00:00";
            colormp(0, "tempbar");
            document.getElementById("tempbar").innerHTML = 0 + "°C";
            slidein("0%", prevstatet, "tempbar", 2000);

            colormp(0, "humbar");
            document.getElementById("humbar").innerHTML = 0 + "%";
            slidein("0%", prevstateh, "humbar", 2000);

        }
        function colormp(x, xid) {
            if (x <= 10) {
                document.getElementById(xid).style.backgroundColor = 'MidnightBlue';
            } else if (x <= 30 && x > 10) {
                document.getElementById(xid).style.backgroundColor = 'SteelBlue';
            } else if (x > 30 && x < 40) {
                document.getElementById(xid).style.backgroundColor = 'Teal';
            } else if (x >= 40 && x < 80) {
                document.getElementById(xid).style.backgroundColor = 'MediumSeaGreen';
            } else if (x >= 80 && x < 91.5) {
                document.getElementById(xid).style.backgroundColor = 'DarkOrange';
            } else {
                document.getElementById(xid).style.backgroundColor = 'red';
            }
        }
        function slidein(x, prev, xid, antime) {
            var anim = document.getElementById(xid).animate([
                { width: prev },
                { width: x }
            ], antime);
            anim.addEventListener('finish', function () {
                document.getElementById(xid).style.width = x;
            });
        }
    </script>
</body>

</html>